### **Tutorial 9: Extracting and Transforming Data**

In this tutorial, we will walk through the process of **extracting** and **transforming** data from a SQL database using Python. We will:
- Connect to a SQL Server database using `SQLAlchemy` and `pyodbc`
- Extract data from the **Sales.Orders** table
- Transform the data to filter only **date-related columns**

---

#### **Step 1: Install Required Libraries**
Before starting, ensure you have the required Python libraries installed. If not, install them using:

```bash
pip install pandas sqlalchemy pyodbc
```

---

#### **Step 2: Import Required Libraries**
We begin by importing the necessary libraries:

```python
import pandas as pd
from sqlalchemy import create_engine
```

---

#### **Step 3: Define the Database Connection**
We use **SQLAlchemy** to create a connection string for a Microsoft SQL Server database.

```python
# Define the ODBC connection parameters
driver = 'ODBC Driver 18 for SQL Server' 

params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};ENCRYPT=yes;TrustServerCertificate=yes"
)

# Create the database engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
```

Replace:
- **`your_server`** with the actual SQL Server name.
- **`your_database`** with your database name.
- **`your_username`** and **`your_password`** with your credentials.

---

In [1]:
import urllib
import pyodbc
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
import pandas as pd


load_dotenv()  # Load environment variables from .env file

server = os.getenv("DB_SERVER")
database = os.getenv("DB_NAME")
username = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD") 
driver = 'ODBC Driver 18 for SQL Server' 

params = urllib.parse.quote_plus(
    f"DRIVER={{{driver}}};SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};ENCRYPT=yes;TrustServerCertificate=yes"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

query = """ 
    SELECT * FROM Sales.Orders;
    """

raw_data = pd.read_sql(query, engine)

#### **Step 4: Extract Data from SQL Database**
### **Explanation:**
- The `extract()` function executes an SQL query to retrieve all columns from the **Sales.Orders** table.
- `pd.read_sql()` fetches the query results into a **pandas DataFrame**.

---

In [2]:

def extract(engine):
    query = """ 
        SELECT * FROM Sales.Orders;
    """
    raw_data = pd.read_sql(query, engine)

    return raw_data
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

raw_sales_data  = extract(engine)

## **Step 5: Transform the Data**
Define a function that filters the dataset by keeping only columns that **do not contain null values**. Ensure that **date-related columns** are properly formatted as **datetime** objects.

```python
Example codes: 
# Extract Columns that do not have null values
no_null_columns = raw_data.columns[~raw_data.isnull().any()].to_list()
clean_data = raw_data[no_null_columns]
# Convert date-related columns to datetime if applicable
clean_data[col] = pd.to_datetime(clean_data[col])
```

In [3]:
# Complete the transform function to return the columns that includes the date data. 
def transform(raw_data):
  	# Edit the below codes to Filter rows and columns
    clean_data = raw_data.copy()
    
    return clean_data

clean_data = transform(raw_sales_data)

## **Expected Output**

| OrderID | CustomerID | SalespersonPersonID | ContactPersonID | OrderDate  | ExpectedDeliveryDate | CustomerPurchaseOrderNumber | IsUndersupplyBackordered | LastEditedBy | LastEditedWhen         |
|---------|-----------|---------------------|-----------------|------------|----------------------|----------------------------|--------------------------|--------------|------------------------|
| 1       | 832       | 2                   | 3032            | 2013-01-01 | 2013-01-02          | 12126                      | True                     | 7            | 2013-01-01 12:00:00    |
| 2       | 803       | 8                   | 3003            | 2013-01-01 | 2013-01-02          | 15342                      | True                     | 7            | 2013-01-01 12:00:00    |
| 3       | 105       | 7                   | 1209            | 2013-01-01 | 2013-01-02          | 12211                      | True                     | 7            | 2013-01-01 12:00:00    |
| 4       | 57        | 16                  | 1113            | 2013-01-01 | 2013-01-02          | 17129                      | True                     | 3            | 2013-01-01 11:00:00    |
| 5       | 905       | 3                   | 3105            | 2013-01-01 | 2013-01-02          | 10369                      | True                     | 7            | 2013-01-01 12:00:00    |

---

In [4]:
# Extract raw data from the database
raw_sales_data = extract(engine)

# Transform the raw data to include only date/time columns
clean_sales_data = transform(raw_sales_data)

# Display the transformed data
display(clean_sales_data.head())

,OrderID,CustomerID,SalespersonPersonID,PickedByPersonID,ContactPersonID,BackorderOrderID,OrderDate,ExpectedDeliveryDate,CustomerPurchaseOrderNumber,IsUndersupplyBackordered,Comments,DeliveryInstructions,InternalComments,PickingCompletedWhen,LastEditedBy,LastEditedWhen
0,1,832,2,NaN,3032,45.0,2013-01-01,2013-01-02,12126,True,None,None,None,2013-01-01 12:00:00,7,2013-01-01 12:00:00
1,2,803,8,NaN,3003,46.0,2013-01-01,2013-01-02,15342,True,None,None,None,2013-01-01 12:00:00,7,2013-01-01 12:00:00
2,3,105,7,NaN,1209,47.0,2013-01-01,2013-01-02,12211,True,None,None,None,2013-01-01 12:00:00,7,2013-01-01 12:00:00
3,4,57,16,3.0,1113,NaN,2013-01-01,2013-01-02,17129,True,None,None,None,2013-01-01 11:00:00,3,2013-01-01 11:00:00
4,5,905,3,NaN,3105,48.0,2013-01-01,2013-01-02,10369,True,None,None,None,2013-01-01 12:00:00,7,2013-01-01 12:00:00

#### **Step 7: Load the Data**
After transforming the data, save it to a CSV file for further use.

In [5]:
# Define the output file path
output_path = "./data/processed/clean_sales_data.csv"

# Save the cleaned data to a CSV file
clean_sales_data.to_csv(output_path, index=False)

print(f"Data successfully saved to {output_path}")

Data successfully saved to ./data/processed/clean_sales_data.csv

Apache **Parquet** is a columnar storage format that is optimized for big data processing. Unlike traditional row-based formats (such as CSV), Parquet stores data by columns, making it more efficient for analytical queries.

In [6]:
# Define the output file path
output_path = "./data/processed/clean_sales_data.parquet"

# Save the cleaned data to a CSV file
clean_sales_data.to_csv(output_path, index=False)

print(f"Data successfully saved to {output_path}")

Data successfully saved to ./data/processed/clean_sales_data.parquet